<div class="container">
  <div class="content">

    <% if @avatar_band.present? %>
      <%= cl_image_tag(@avatar_band, crop: :fill, class: "img-circle") %>
    <% else %>
      <%= image_tag "avatar_default.jpg", class: "img-circle" %>
    <% end  %>


    <h2>My dashboard</h2>
    <p>Hello, <%= current_user.first_name %> <%= current_user.last_name %>
    <h3>MY BAND</h3>
    <% if current_user.band %>
      <p><%= current_user.band.name %></p>
      <p><%= current_user.band.music_style %></p>
      <p><%= current_user.band.price_per_hour %></p>
      <p><%= current_user.band.service_duration %></p>
      <p><%= current_user.band.number_of_musicians %></p>
      <p><%= current_user.band.description %></p>
    <% else %>
      <%= link_to "Add your band", new_band_path, class: "btn-yellow" %>
    <% end %>

    <div class="buttons">
      <%= link_to "Edit band",  edit_band_path(current_user), class: "btn-yellow" %>
      <%= link_to 'Delete band', band_path(current_user), method: :delete, class: "btn-yellow" %>
      </div>

    <h3>MY BOOKINGS</h3>
    <% @bookings.each do |c| %>
      <p>Group : <%= c.band.name %></p>
      <p>Playing the <%= c.date %></p>
      <p>In <%= c.location %></p>
      <p>For <%= c.band.service_duration %> minutes</p>
      <p>Due : <%= c.band.price_per_hour %> €</p>
      <%= link_to 'Delete booking', booking_path(c), method: :delete, class: "btn-yellow" %>
      <% if c.status == 'confirmed' %>
      <span class="label label-success">Validate</span>
      <% else %>
      <span class="label label-warning">Pending</span>
      <% end %>


    <% end %>

      <%= link_to "Book a band", bands_path, class: "btn-yellow" %>

      <h3>PEOPLE WHO BOOKED ME</h3>

      <% @peoplewhobookedme.each do |c| %>
        <p>Client : <%= c.user.first_name %></p>
        <p>Contact : <%= c.user.email %></p>
        <%= link_to 'Cancel booking', booking_path(c), method: :delete, class: "btn-yellow" %>
        <% if c.status != 'confirmed' %>
          <%= simple_form_for c do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'confirmed'} %>
            <%= f.submit 'Accept', class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      <% end %>

  </div>
</div>


