<div class="container">
  <div class="content">


    <h2>My dashboard</h2>
    <p>Hello, <%= current_user.first_name %> <%= current_user.last_name %>
    <h3>MY BAND</h3>
    <% if current_user.band %>
      <p><%= current_user.band.name %></p>
      <p><%= current_user.band.music_style %></p>
      <p><%= current_user.band.price_per_hour %></p>
      <p><%= current_user.band.service_duration %></p>
      <p><%= current_user.band.number_of_musicians %></p>
      <p><%= current_user.band.description %></p>
    <% else %>
      <%= link_to "Add your band", new_band_path, class: "btn-yellow" %>
    <% end %>

    <div class="buttons">
      <%= link_to "Edit band",  edit_band_path(current_user), class: "btn-yellow" %>
      <%= link_to 'Delete band', band_path(current_user), method: :delete, class: "btn-yellow" %>
    </div>

    <h3>MY BOOKINGS</h3>
      <% if @booking %>
        <p><%= @booking.band.name %></p>
        <p><%= @booking.date %></p>
        <p><%= @booking.band.price_per_hour %>€/h</p>
        <p><%= @booking.band.service_duration %> minutes</p>
      <% else %>

      <%= link_to "Book a band", bands_path, class: "btn-yellow" %>
    <% end %>
    <%= link_to 'Delete booking', booking_path(current_user), method: :delete, class: "btn-yellow" %>

</div>
</div>
