<div class="profile-header-wrapper">
  <div class="container profile-header-container text-center">
    <div class="profile-header-infos">
      <% if @avatar_band.present? %>
        <%= cl_image_tag(@avatar_band, crop: :fill, class: "img-circle") %>
      <% else %>
        <%= image_tag "avatar_default.jpg", class: "img-circle" %>
      <% end  %>
        <h2>Hello, <%= current_user.first_name %> <%= current_user.last_name %></h2>
      <% if current_user.band.present? %>
        <h4>- Member of <%= current_user.band.name %> - <%= link_to "Visit page",  band_path(current_user) %></h4>
      <% else %>
        <h4><%= link_to "Add your band", new_band_path %></h4>
      <% end %>
    </div>
    <div class="tabs">
      <a class="tab active" data-toggle="tab" href="#my-band">
        <h3>My band</h3>
      </a>
      <a class="tab" data-toggle="tab" href="#my-bookings">
        <h3>My bookings</h3>
      </a>
      <a class="tab" data-toggle="tab" href="#my-clients">
        <h3>My clients</h3>
      </a>
    </div>
  </div>
</div>

<div class="tab-content">

  <div id="my-band" class="tab-pane fade in active content">
    <div class="content-dashboard">
    <h3>MY BAND</h3>
    <div class="h_line"></div>
    <% if current_user.band %>
      <p>Band's name : <strong><%= current_user.band.name %></strong></p>
      <p>Located in <strong><%= current_user.band.address %></strong></p>
      <p>Music style : <strong><%= current_user.band.music_style %></strong></p>
      <p>Price per hour : <strong><%= current_user.band.price_per_hour %> €</strong></p>
      <p>Number of musicians : <strong><%= current_user.band.number_of_musicians %></strong></p>
    </br>
      <h4>The band story :</h4>
      <div class="h_line2"></div>
      <p class="cropped-text-band"><%= current_user.band.description %></p>
    </div>
      <div class="buttons">
        <%= link_to "Edit band",  edit_band_path(current_user), class: "edit-delete-button" %>
        <%= link_to 'Delete band', band_path(current_user), method: :delete, class: "edit-delete-button" %>
      </div>
    <% else %>
      <p><strong>Hello there !</strong><p></br>
      <p>We know how cool it is to book all of your favorite bands, but why don't you also join the crowd ?<p>
      <p>Ready to share your love for music ?</p></br>
      <%= link_to "Add your band", new_band_path, class: "edit-delete-button" %>
    </div>
    <% end %>
  </div>



  <div id="my-bookings" class="tab-pane fade content">
    <h3>MY BOOKINGS</h3>
    <p class="cropped-text-bookings">Here are you requested bookings. Wait until the status turns to "Confirmed" to take contact with your band and prepare your party together !</p>

    <div class="cards-booking">
      <% @bookings.each do |c| %>
      <div class="card-booking">
        <p>Group : <strong><%= c.band.name %></strong></p>
        <p>Playing the <strong><%= c.date %></strong></p>
        <p>in <strong><%= c.address %></strong></p>
        <p>Due : <strong><%= c.band.price_per_hour %> €</strong></p>

        <% if c.status == 'confirmed' %>
        <span class="btn-confirmed">Confirmed</span>
        <% elsif c.status == 'decline' %>
        <span class="btn-declined">Declined :(</span>
        <% else %>
        <span class="button-pending">Pending</span>
        <% end %>
        <%= link_to 'Cancel booking', booking_path(c), method: :delete, class: "text-delete" %>
      </div>
      <% end %>
    </div>

    <div class="buttons">
      <%= link_to "Book a band", bands_path, class: "edit-delete-button" %>
    </div>
  </div>

  <div id="my-clients" class="tab-pane fade content">

      <h3>MY CLIENTS</h3>
      <p class="cropped-text-bookings jump-a-little">Manage your bookings here. You can either confirm or decline a booking.</p>

      <% @peoplewhobookedme.each do |c| %>
      <div class="card-clients">
        <div class="card-clients-info">
          <p>Client : <strong><%= c.user.first_name %></strong></p>
          <p>Contact : <strong><%= c.user.email %></strong></p>
          <p><%= link_to 'Cancel booking', booking_path(c), method: :delete, class: "text-delete-clients" %></p>
        </div>
          <div class="card-clients-buttons">
            <% if c.status.nil?  %>
              <%= simple_form_for c do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'confirmed'} %>
                <%= f.submit 'Accept', class: 'btn-accept' %>
              <% end %>
              <%= simple_form_for c do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'decline'} %>
                <%= f.submit 'Decline', class: 'btn-decline' %>
              <% end %>
            <% end %>
        </div>
      </div>
      <% end %>

  </div>
</div>
</div>
