<div class="banner-home" style="background: -webkit-linear-gradient(top, rgba(254,187,187,0.7) 0%,rgba(239,169,136,0.7) 50%,rgba(255,56,56,0.7) 100%), url('https://oneclassblog.com/wp-content/uploads/2018/02/popular-music-performance-top-up-Cropped-1920x830.jpg'); height: 100vh; background-position: center;">
  <div class="banner-content">
    <h1>RENT YOUR FAVORITE BAND TODAY</h1>
    <h2>Talents around you for maximum happiness</h2>
    <div class="searchbar-home">
    <%= simple_form_for [ @band, @genre ] do |f| %>
      <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :address, label: "Address", input_html: {id: "band_address"} %>
      <%= f.association :genres, prompt: "Music style", input_html: {id: "searchbar-band"} %>
      <%= f.input :price_per_hour, label: "Budget", input_html: {id: "searchbar-band"} %>
      <%= f.submit "Add", class: "btn-search" %>
    <% end %>
  </div>
</div>
    <!-- <video autoplay muted loop id="banner-video-bg"> -->

    <!-- </video> -->
  </div>
