<div class="banner-home" style="background: -webkit-linear-gradient(top, rgba(254,187,187,0.7) 0%,rgba(239,169,136,0.7) 50%,rgba(255,56,56,0.7) 100%), url('https://oneclassblog.com/wp-content/uploads/2018/02/popular-music-performance-top-up-Cropped-1920x830.jpg'); height: 100vh; background-position: center;">
  <div class="banner-content">
    <h1>Book your favorite band today</h1>
    <h2>Talents around you for maximum happiness</h2>
    <div class="searchbar-home animated fadeIn">
      <%= form_tag bands_path, method: "get" do %>
      <%= text_field_tag :date, nil, placeholder: "Date", class: 'datepicker', id: 'searchbar-band' %>
      <%= text_field_tag :address, nil, placeholder: "Address", id: 'band_address' %>
      <%= text_field_tag :style , nil, placeholder: "Style", id: 'searchbar-band' %>
      <%= text_field_tag :budget, nil, placeholder: "Budget max", id: 'searchbar-band' %>
      <%= submit_tag "Discover", class: "btn-search" %>
      <% end %>
    </div>
  </div>
  <!-- <video autoplay muted loop id="banner-video-bg"> -->
    <!-- </video> -->
</div>



<div class="main-container">

  <div class="wrapper-popular">
    <h2>Popular Artists</h2>
    <p>Meet our most booked artists</p>
    <div class="cards-home">

        <div class="card-home" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('https://media.guim.co.uk/67bfc01de64daa10687cc2c7103b9bcd93f22138/0_0_4896_3264/1000.jpg'); background-position: center;">
          <h2>General Copycat</h2>
          <p>13181 €</p>
          <p>Pop</p>
          <p>6 musicians</p>
          <a class="card-link" href="/bands/26">General Copycat</a>
        </div>

        <div class="card-home" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('https://media.guim.co.uk/67bfc01de64daa10687cc2c7103b9bcd93f22138/0_0_4896_3264/1000.jpg'); background-position: center;">
          <h2>General Copycat</h2>
          <p>13181 €</p>
          <p>Pop</p>
          <p>6 musicians</p>
          <a class="card-link" href="/bands/26">General Copycat</a>
        </div>

        <div class="card-home" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('https://media.guim.co.uk/67bfc01de64daa10687cc2c7103b9bcd93f22138/0_0_4896_3264/1000.jpg'); background-position: center;">
          <h2>General Copycat</h2>
          <p>13181 €</p>
          <p>Pop</p>
          <p>6 musicians</p>
          <a class="card-link" href="/bands/26">General Copycat</a>
        </div>

    </div>

    <div class="buttons">
      <%= link_to "Book a band", bands_path, class: "edit-delete-button" %>
    </div>
  </div>


  <div class="wrapper-icons">
    <h2>Our concept</h2>
    <div class="cards">

      <div class="item-home">
        <h3><i class="fa fa-music blue fa-2x" aria-hidden="true"></i><br>Your favorite artists</h3>
        <p>Find all the best every artists and bands you love, all in one place. They are here only for you... and your friends.</p>
      </div>

      <div class="item-home">
        <h3><i class="fa fa-home red fa-2x" aria-hidden="true"></i><br>Live music at Home</h3>
        <p>You like live musics in concerts and festivals? Then you will enjoy to have live concerts at home, in your own salon?</p>
      </div>
      <div class="item-home">
        <h3><i class="fa fa-users yellow fa-2x" aria-hidden="true"></i><br>Sharing with friends</h3>
        <p>Joy is bigger and more intense with your friends! Invite all your friends and familly for unique moments with fav' artist!</p>
      </div>

    </div>
  </div>


  <div class="wrapper-music-lovers">
    <h2>For music lovers</h2>
    <div class="cards-lovers">

      <div class="item-home-descr">
        <h4>The most simple way to invite your <strong>favorite artist</strong> to play directly in your appartment or home for an exclusive live concert with your friends and family.</h4>
        <p><i class="fa fa-child" aria-hidden="true"></i> <strong>Customizable:</strong> Chose the number of musiciens at home</p>
        <p><i class="fa fa-headphones" aria-hidden="true"></i> <strong>Music style:</strong> Rock, RNB, Jazz, Electronic and more</p>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i> <strong>Around you:</strong> Find with the map the bands in your city</p>
      </div>

      <div class="item-home">
          <img class="photo-lovers" src="https://images.unsplash.com/photo-1501386761578-eac5c94b800a?ixlib=rb-0.3.5&s=d8011e0a2bcb70c7697ba5e32a262100&auto=format&fit=crop&w=2700&q=80">
      </div>

    </div>
  </div>


  <div class="wrapper-every-artist">
    <h2>For every kind of artist</h2>
    <div class="cards-lovers">

      <div class="item-home">
        <img class="photo-lovers" src="https://images.unsplash.com/photo-1474692295473-66ba4d54e0d3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=011de1da09df52cd8990a2282c5d38d1&auto=format&fit=crop&w=1952&q=80">
      </div>

      <div class="item-home-descr">
        <h4>Discover a new way to reach <strong>new fans</strong> and play more often! More and more people want private live concerts and today people are ready and want to invite artists at home.</h4>
        <p><i class="fa fa-users red" aria-hidden="true"></i> <strong>Close to your fans:</strong> The unique way to play only to your biggest fans.</p>
        <p><i class="fa fa-check-square red" aria-hidden="true"></i> <strong>Keep the control:</strong> Manage your calendar, prices and requests.</p>
        <p><i class="fa fa-volume-up red" aria-hidden="true"></i> <strong>No limits:</strong> Play as much you want! And be a real home-rockstar!</p>
      </div>

    </div>
  </div>

  <div class="wrapper-talk">

    <h2>They talk about us</h2>
    <div class="cards-lovers">

      <div class="reviews">
        <a href="#" class="dead-links">
         <img src="http://location-borne-tactile.paris/wp-content/uploads/2016/02/Le-Monde-Logo.jpg" />
       </a>
       <a href="#" class="dead-links">
        <img src="https://s3-eu-west-2.amazonaws.com/folio-website-images/content/uploads/2017/10/02200138/Logos-exported_0020_rollingstone-200x100.png" />
      </a>
      <a href="#" class="dead-links">
        <img src="https://vignette.wikia.nocookie.net/agathachristie/images/0/02/The-New-York-Times.jpg/revision/latest/window-crop/width/200/x-offset/0/y-offset/30/window-width/442/window-height/221?cb=20121103123138" />
      </a>

    </div>
  </div>

  <div class="wrapper-cta">

    <h2>Join us !</h2>
    <p>There are a tons of well-known artists and independant bands with us</p>
    <p><strong>Convinced ? Time to sign up and create your own profile !</strong></p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn-yellow" %>

  </div>

</div>
</div>
