<div class="banner-home" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%); height: 100vh; background-position: center;">
    <h1>RENT YOUR FAVORITE BAND TODAY</h1>
    <h2>Talents around you for maximum party happiness</h2>
    <h2><span id="title-typed-text"></span></h2>
    <%= form_tag bands_path, method: "get" do %>
      <%= text_field_tag :date , nil, placeholder: "Date", id: 'searchbar-band' %>
      <%= text_field_tag :city , nil, placeholder: "City", id: 'searchbar-band' %>
      <%= text_field_tag :style , nil, placeholder: "Style", id: 'searchbar-band' %>
      <%= text_field_tag :budget , nil, placeholder: "Budget", id: 'searchbar-band' %>
      <%= submit_tag "Discover Bands", class: "btn-yellow" %>
    <% end %>
    <video autoplay muted loop id="banner-video-bg">
    <source src="assets/Concert-Crowd-background-video.mp4" type="video/mp4">
    </video>
</div>
