<div class="container-index">
  <div class="index-results">
    <div class="searchbar-index">
      <h3>What are you looking for ?</h3>

      <%= form_tag bands_path, method: "get" do %>
        <%= text_field_tag :date , nil, placeholder: "Date", class: 'datepicker', id: 'searchbar-band' %>
        <%= text_field_tag :address , nil, placeholder: "Address", id: 'band_address' %>
        <%= text_field_tag :style , nil, placeholder: "Style", id: 'searchbar-band' %>
        <%= text_field_tag :budget , nil, placeholder: "Budget", id: 'searchbar-band' %>
        <%= submit_tag "Discover", class: "btn-search" %>
      <% end %>
    </div>
    <div class="cards">
      <% @bands.each do |b| %>
        <% if b.photo.present? %>
          <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('<%= cl_image_path b.photo, crop: :fill %>'); background-position: center;">
        <% else %>
          <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('https://media.guim.co.uk/67bfc01de64daa10687cc2c7103b9bcd93f22138/0_0_4896_3264/1000.jpg'); background-position: center;">
        <% end  %>
        <h2><%= b.name %></h2>
        <p><%= b.price_per_hour %> €</p>
        <p><%= b.music_style %></p>
        <p><%= b.number_of_musicians %> musicians</p>
        <%= link_to b.name, band_path(b.id), class: "card-link" %>
      </div>
      <% end %>
    </div>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>
