<% if @band.photo.present? %>
  <div class="banner-home" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('<%= cl_image_path @band.photo, crop: :fill %>'); height: 50vh; background-position: center;">
<% else %>
  <div class="banner-home" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('https://media.guim.co.uk/67bfc01de64daa10687cc2c7103b9bcd93f22138/0_0_4896_3264/1000.jpg'); height: 50vh; background-position: center;">
<% end  %>

    <h1><%= @band.name %></h1>

</div>

<div class="content">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="band-description">
        <h3 class="red-title"><strong>Get in touch with <%= @band.name %> :</strong></h3>
        <ul class="list-unstyled">
          <p>Music style : <strong><%= @band.music_style %></strong></p>
          <p>Price per hour : <strong><%= @band.price_per_hour %> €</strong></p>
          <p>Number of musicians : <strong><%= @band.number_of_musicians %></strong></p>
        </br>
          <h4>The band story :</h4>
          <p><%= current_user.band.description %></p>
        </ul>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="form-booking">
        <h3 class="title-booking">Book us !</h3>
        <%= simple_form_for [ @band, @booking ] do |f| %>
          <%= f.input :date %>
          <%= f.input :location, label: "City" %>
          <%= f.submit "Book us", class: "submit" %>
        <% end %>
        <p>Total : <strong><%= @band.price_per_hour %> €</strong></p>
      </div>
    </div>
  </div>


  <div class="review">
      <h2 class="text-center title-comments"><strong>Comments</strong> (<%= @band.reviews.count %>)</h2>
      <a name="anchor-review"></a>
      <div class="posted-message">
        <% if @band.reviews.any? %>
          <% @band.reviews.each do |r| %>
            <div class="message-box">
              <div class="avatar-large">
                <%= image_tag "electric-guitar.svg", id: "review-picture" %>
              </div>
              <div class="message-name">
                <h4><%= r.commenter %></h4>
                <p><%= r.created_at.to_time.strftime('%B %e') %></p>
                <p><%= r.created_at.to_time.strftime('at %l:%M %p') %></p>
              </div>
              <div class="message-body">
                <p><%= r.content %></p>
              </div>
              <div class="message-rating">
                <p class="rating-title">Rating</p>
                <p class="rating"><%= r.rating %>/5</p>
              </div>
          </div>
          <% end %>
          <p class="red-title average-rating"><%= @band.name %> has an average rating of
            <% average = @band.reviews.average("rating") %>
            <% if (average / average.floor) == 1 %>
              <%= average.round %>/5
            <% else %>
              <%= average.round(1) %>/5
            <% end %>
          </p>
        <% else %>
          <p class="no-comments">There are no comments yet.</p>
        <% end %>
      </div>

      <div class="posted-message">
        <div class="form-review">
          <h3>Add a review :</h3>
          <%= simple_form_for [ @band, @review ] do |f| %>
            <%= f.input :commenter, label: "Your name"%>
            <%= f.input :rating %>
            <%= f.input :content, label: "Your review" %>
            <%= f.submit "Add a review", class: "submit" %>
          <% end %>
      </div>
    </div>
  </div>

  <div class="downpage-links">
    <% if @band.previous.presence %>
      <p><%= link_to "Previous band", @band.previous %></p>
    <% end %>
      <p><%= link_to "Go back to list", bands_path %></p>
    <% if @band.next.presence %>
      <p><%= link_to "Next band", @band.next %></p>
    <% end %>
  </div>

</div>
